/* === Body === */
* {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif
}
#main_content {
  width: 90%;
  margin: auto;
  background-color: #f99;
}

header {
  background-color: #9f9;
}

nav {
  background-color: #99f;
}

.left {
  width: 20%;
  float: left;
}

.center {
  width: 60%;
  float: left;
}

.right {
  width: 20%;
  float: right;
}

.column {
  padding: 5px;
}

.die {
  width: 20%;
  float: left;
  height: 100px;
  border: 1px solid blue;
  background-color: grey;
}